.navbar .navbar-nav {
    margin:0 auto;
    display: flex;
    text-align: center;
}

.transparent-navbar {
    background-color: rgba(29, 33, 37, 0.90);
}

.navbar-brand {
    margin: auto;
}


#addTodoSection {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#addTodoButton {
    display: block;
    margin: auto;
    width: 45px;
    height: 45px;
    background-color: darkgrey;
    border-radius: 50%;
    color: white;
    transition: 0.25s;
    font-size: large;
    outline: none;
    border: none;
}

#addTodoButton:hover {
    width: 50px;
    height: 50px;
    background-color: deepskyblue;
}

#addTodoWindow {
    margin-top: 10%;
}



.modal-title {
    margin-left: 33%;
}

#closeButton {
    transition: 0.25s;
}

#closeButton:hover {
    color: red;
}


#todoForm input {
    display: flex;
    justify-content: center;
    flex-direction: row;

    width: 90%;
    margin: 20px auto;
    padding-left: 10px;
    border: 1px solid darkgrey;
    height: 35px;
    border-radius: 5px;
    outline: none;
    transition: 0.25s;
}

#todoForm input:focus {
    width: 98%;
    border-color: deepskyblue;
}

#createTodoButton {
    width: 35%;
    transition: 0.25s;
    display: block;
    margin-left: 154px;
    margin-top: 20px;
}

#createTodoButton:hover {
    background-color: deepskyblue;
    border-color: deepskyblue;
}


#todoSection {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 80px;
}

 #searchField{
     display: none;
     width: 250px;
     margin-left: 10px;


}

#searchArea:hover > #searchField{
    display: inline;
    transition: width .35s ease-in-out;
}



#searchButton {
    text-decoration: none;
    transition: 0.25s;
}

#searchButton:hover {
    cursor: pointer;
    color: deepskyblue;

}








